$primary: #cfe2ff;
$info: #3c5172;
$success: #99f7ab;
$warning: #ffbd00;
$danger: #f25757;
$link: #000;
$title-color: $info;
@import 'node_modules/bulma/sass/_index';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

input:valid,
select:valid,
textarea:valid {
  border-color: $success;
}

input:invalid,
select:invalid {
  border-color: $danger;
}


table {
  table-layout: fixed;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
  overflow: hidden;
}

textarea {
  overflow: hidden;
  resize: none;
}

@media screen and (max-width: 576px) {
  .table thead {
    display: none;
    border: none;
  }

  .table tr {
    display: block;
  }

  .table td {
    display: block;
    text-align: right;
    border: none;
  }

  .table td:before {
    content: attr(data-label);
    float: left !important;
    font-weight: bold;
  }
}
